.navS{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20vh;
    
    /* border-radius: 1px;
    border-color: black;
    border-style: solid; */

}

#home-button, #contact-button, #menu-button{
    font-size: 40px;
    display: flex;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}